{% block title %}CONTACT{% endblock %}

<pre>CONTACT</pre>

    <div class="row text-code">
        <div class="col-lg-6">
            <table class="w-100">
                <tr>
                    <td class="min"><label>Votre adresse email</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="min"><label>Objet du message</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="min"><label>Votre message</label></td>
                    <td><textarea></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-sm w-100 mt-3"><i class="fa fa-solid fa-paper-plane me-1 opacity-75 text-pink"></i>Envoyer</button></td>
                </tr>
            </table>
            
        </div>
        <div class="col-lg-6">
    
        </div>
    </div>