<div class="d-flex flex-wrap w-100 h-100 p-9">
    {% for application in applications %}
    <div class="w-100px h-100px btn btn-app m-8">
        <i class="fa fa-{{ application.icon }} text-primary">
            <i class="fa fa-share"></i>
        </i>
        <small>{{ application.name }}</small>
    </div>
    {% endfor %}
</div>