<div class="row topbar position-relative bg-transparent d-flex h-100">
    <div class="">
        <a class="btn btn-icon btn-custom w-lg-100px h-lg-100px w-100px h-100px w-sm-90px h-sm-90px flex-column justify-content-center bg-transparent" data-page="profil" data-pos="left" id="kt_activities_toggle">
            <span class="svg-icon svg-icon-1 d-flex align-items-center flex-column mt-3">
                <i class="fa fa-calculator" style="font-size: 3rem !important;"></i>
            </span>
            <span class="text-center d-block mt-3 text-white-soft">Calculator</span>
        </a>
    </div>
</div>