<div class="row">
    <div class="col-4 text-center">
        <span class="text-white-soft text-code fw-bold">Settings</span>
    </div>
    <div class="col-8 d-flex justify-content-center">
        <span class="text-white-soft text-code fw-bold">{{ param|capitalize }}</span>
    </div>
</div>